<html>

<style>
    .keyWords {
        color: red;
        font-weight: bold;
    }


    .title {
        text-align: Left;
        padding-left: 15px;
        margin: 2px;
        padding-top: 18px;
        padding: 15px;
        font-weight: bolder;
        font-family: Optima;
        font-size: 50px;
        /*color: rgb(128, 0, 128);*/
        color: rgb(128, 44, 29);

    }

    /*darkish aqua background for header*/
    .titleBackground {
        padding-left: 0px;
        padding-top: 0px;
        margin-bottom: 40px;
        margin-left: 15px;
        margin-right: 15px;
        height: 100px;

        background-color: rgb(191, 211, 223);
        width: 650px;

        border-radius: 15px;
        border: 2px solid rgb(9, 44, 119);
    }


    .goBackToMenu {
        display: inline;
        text-align: center;
        position: relative;
        padding: 10px;
        font-family: Optima;

        font-size: 15px;


        background-color: rgb(128, 44, 29);
        color: blanchedalmond;
        border: 3px solid blanchedalmond;

        border-radius: 1000px;
    }


    h2 {
        font-size: 45px;
        display: inline;
    }

    body {
        background-color: rgb(194, 128, 115);
    }


    .Welcome {
        position: relative;
        text-align: center;
        font-family: Optima;

        padding-left: 2px;
        padding-right: 2px;

        margin: auto;
        color: rgb(9, 44, 119);
        background-color: rgb(191, 211, 223);
        ;
        margin-left: 80px;
        margin-right: 80px;
        border-radius: 15px;
        border: 2px solid rgb(9, 44, 119);


    }

    .Center {
        text-align: center;
    }

    .correct {
        position: relative;
        text-align: center;
        font-family: Optima;
        margin: auto;
        color: rgb(9, 44, 119);
        background-color: blanchedalmond;
        width: 100px;
        border-radius: 15px;
        border: 2px solid rgb(9, 44, 119);

    }

    .QuizBorder {
        width: auto;
        height: auto;
        margin-right: 150px;
        margin-left: 3px;
        margin-bottom: 15px;
        background-color: blanchedalmond;
        overflow: auto;
        border: 5px solid rgb(9, 44, 119);
        border-radius: 15px;
        padding-left: 10px;

    }

    option {
        background-color: #82ff8c;
    }




    .label {
        display: inline-block;

    }

    .descriptionBox {
        display: inline-block;

        font-family: Optima;

        margin: 10px;
        padding: 10px;
        color: rgb(9, 44, 119);
        background-color: blanchedalmond;

        height: 100px;
        border-radius: 15px;
        border: 2px solid rgb(9, 44, 119);


    }

    .box {

        margin: 10px;
        padding: 10px;
        display: inline-block;

        font-family: Optima;

        color: rgb(9, 44, 119);
        background-color: blanchedalmond;

        height: 100px;
        width: 300px;
        border-radius: 15px;
        border: 2px solid rgb(9, 44, 119);




    }

    .plantOptions {

        font-family: Optima;
        font-size: 40px;
        
        color: rgb(9, 44, 119);
        border-right: 10px;
        margin-left: 15px;

    }

    .backgroundColor {
        font-family: Optima;

        border: 2px solid blanchedalmond;
        border-radius: 15px;
        margin: 50px;

        background-color: rgb(191, 211, 223);
    }

    .imageDesign {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
        border: 2px solid blanchedalmond;
        border-radius: 10px;

    }


    @media only screen and (min-width: 1000px) {
        .column {
            float: left;
            width: 50%;
        }

    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .minititle {
        font-weight: bold;
    }
</style>

<body>



    <div class='titleBackground'>
        <h1 class="title">My Plant Bud</h1>
    </div>



    <div class="backgroundColor">
        <h1 class="plantOptions"> <%= plant.Title %> </h1>

        <div class="descriptionBox">
            <span class="text"><%= plant.Description %></span>
        </div>

        <div class="row">
            <div class="column">

                <div class="box">
                    <a class="minititle">Levels of Sunlight:</a> </br>
                    <span class="text"><%= plant.Sunlight %></span>
                </div>


                <div class="box">
                    <a class="minititle">Watering Process:</a> </br>
                    <span class="text"><%= plant.Watering %></span>
                </div>


            </div>
            <div class="column">



                <tr>
                    <img class="imageDesign" src="../<%= plant.Picture %>" width="300" />

                </tr>




            </div>
        </div>

       
        </tr>


    </div>


<a class="goBackToMenu" href="/MyPlantBud">Back to Menu </a>

<p></p>
<p></p>
<p></p>
<p></p>

   

  

</body>



</html>