<!DOCTYPE html>
<html lang="en">

<head>
    <link href="CSS/styling.css" rel="stylesheet" type="text/css" />
</head>

<body>



    <div class='titleBackground'>
        <h1 class="title">My Plant Bud</h1>
    </div>



    <div class="backgroundColor">
        <h1 class="plantOptions"> <%= plant.Title %> </h1>

        <div class="descriptionBox">
            <div class="minititle">About this bud!</div> </br>
            <span class="text"><%= plant.Description %></span>
        </div>

        <div class="row">
            <div class="column">

                <div class="box">
                    <div class="minititle">Levels of Sunlight:</div> </br>
                    <span class="text"><%= plant.Sunlight %></span>
                </div>


                <div class="box">
                    <div class="minititle">Watering Process:</div> </br>
                    <span class="text"><%= plant.Watering %></span>
                </div>


            </div>
            <div class="column">



                <tr>
                    <img class="imageDesign" src="../<%= plant.Picture %>" width="300" />

                </tr>




            </div>
        </div>


        </tr>


    </div>


    <a class="goBackToMenu" href="/MyPlantBud">Back to Menu </a>

    <p></p>
    <p></p>
    <p></p>
    <p></p>

    <img class="shiftRight" src="../Images/PlantMenu.png" width="450" height="90" />



    <div class="AboutMe">


        <a href="https://github.com/klosinm">Made by: Monica Klosin </a>
        </br>

        <a href="https://github.com/klosins">Photos and Data Provided by: Sylvia Klosin </a>
        </br>
        </br>
        Last Updated: April 2020

    </div>




</body>



</html>