<!DOCTYPE html>
<html lang="en">

<style>
    .keyWords {
        color: red;
        font-weight: bold;
    }

    /*TO RUN: node express.js */
    .title {
        text-align: Left;
        padding-left: 15px;
        margin: 2px;
        padding-top: 18px;
        padding: 15px;
        font-weight: bolder;
        font-family: Optima;
        font-size: 50px;
        /*color: rgb(128, 0, 128);*/
        color: blanchedalmond;

    }

    /*darkish aqua background for header*/
    .titleBackground {
        padding-left: 0px;
        padding-top: 0px;
        margin-bottom: 40px;
        margin-left: 15px;
        margin-right: 15px;
        height: 100px;

        background-color: rgb(128, 44, 29);
        width: 650px;

        border-radius: 15px;
        border: 2px solid rgb(9, 44, 119);
    }



    .takeQuizButton {
        display: inline;
        text-align: center;
        margin-right: auto;
        margin-top: auto;
        position: relative;
        padding-top: 10px;
        font-family: Optima;

        font-size: 15px;



        background-color: rgb(128, 44, 29);


        color: blanchedalmond;
        border: 3px solid blanchedalmond;


        border-radius: 1000px;

    }


    h2 {
        font-size: 45px;
        display: inline;
    }

    body {
        background-color: rgb(194, 128, 115);
    }


    .Welcome {
        position: relative;
        text-align: center;
        font-family: Optima;

        padding-left: 2px;
        padding-right: 2px;

        margin: auto;
        color: rgb(9, 44, 119);
        background-color: rgb(191, 211, 223);
        ;
        margin-left: 80px;
        margin-right: 80px;
        border-radius: 15px;
        border: 2px solid rgb(9, 44, 119);


    }

    .Center {
        text-align: center;
    }

    .correct {
        position: relative;
        text-align: center;
        font-family: Optima;
        margin: auto;
        margin-bottom: 15px;
        color: rgb(9, 44, 119);
        background-color: blanchedalmond;
        width: 100px;
        border-radius: 15px;
        border: 2px solid rgb(9, 44, 119);

    }

    .QuizBorder {
        width: auto;
        height: auto;
        margin-right: 150px;
        margin-left: 3px;
        margin-bottom: 15px;
        background-color: blanchedalmond;
        overflow: auto;
        border: 5px solid rgb(9, 44, 119);
        border-radius: 15px;
        padding-left: 10px;

    }

    option {
        background-color: #82ff8c;
    }


    .NavOptions {
        margin-left: 3px;


        color: blanchedalmond;
        font-size: 17px;
        font-family: Optima;

        text-align: center;

        background-color: rgb(128, 44, 29);
        padding: 10px;

        border: 3px solid rgb(9, 44, 119);
        border-radius: 10px;
    }

    .label {
        display: inline-block;

    }
</style>

<body>

    <div class='titleBackground'>
        <h1 class="title">My Plant Bud - Verification</h1>
    </div>


    <div class="Welcome">

        <h1>What you Said:</h1>
        <p>Your home has a room which is <span class="keyWords"><%= quiz.sunlight %></span>.
            You are able to water it every <span class="keyWords"><%= quiz.water %></span> week(s).
            You would like to have your plant living on your <span class="keyWords"><%= quiz.plantplacement %></span>.

            Your plant will have pretty <span class="keyWords"><%= quiz.TypeofPlant %></span>
            , and have <span class="keyWords"><%= quiz.colors %></span> color(s).


        </p>

    </div>


    <p class="correct"> Is this correct?</p>

    </br>

    <div class="Center">


        <% 	if (quiz.sunlight.includes("sunny") && quiz.water.includes("one")  ) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/3">Yes!</a>
        <% } 
            else if (quiz.sunlight.includes("semi_sunny") && quiz.water.includes("one")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/2">Yes!</a>
        <% } 

            else if (quiz.sunlight.includes("shady") && quiz.water.includes("one")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/4">Yes!</a>
        <% } 

            else if (quiz.sunlight.includes("semi_sunny") && quiz.water.includes("one")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/2">Yes!</a>
        <% } 

            else if (quiz.sunlight.includes("sunny") && quiz.water.includes("two")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/6">Yes!</a>
        <% } 

        else if (quiz.sunlight.includes("semi_sunny") && quiz.water.includes("two")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/6">Yes!</a>
        <% } 

         else if (quiz.sunlight.includes("shady") && quiz.water.includes("two")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/4">Yes!</a>
        <% } 

         else if (quiz.sunlight.includes("sunny") && quiz.water.includes("four")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/5">Yes!</a>
        <% } 
            
        else if (quiz.sunlight.includes("semi_shady") && quiz.water.includes("four")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/1">Yes!</a>
        <% } 
         else if (quiz.sunlight.includes("shady") && quiz.water.includes("four")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/1">Yes!</a>
        <% } %>



        <a class=" NavOptions takeQuizButton" href="/quiz">Maybe not, let me do it again </a>
    </div>


    <div>
        <a class="NavOptions takeQuizButton " href="/MyPlantBud">Back to Menu </a>

    </div>

    <p></p>










    <img class="shiftRight" src="Images/PlantMenu.png" width="500" height="90" />
    <img class="shiftRight" src="Images/PlantMenu.png" width="500" height="90" />

</html>