<!DOCTYPE html>
<html lang="en">

<head>
    <link href="CSS/styling.css" rel="stylesheet" type="text/css" />
</head>


<body>


    <div class='titleBackground'>
        <h1 class="title">My Plant Bud - Verification</h1>
    </div>


    <div class="Welcome">

        <h1>What you Said:</h1>
        <p>Your home has a room which is <span class="keyWords"><%= quiz.sunlight %></span>.
            You are able to water it every <span class="keyWords"><%= quiz.water %></span> week(s).
            You would like to have your plant living on your <span class="keyWords"><%= quiz.plantplacement %></span>.

            Your plant will have pretty <span class="keyWords"><%= quiz.TypeofPlant %></span>
            , and have <span class="keyWords"><%= quiz.colors %></span> color(s).


        </p>

        <p class="correct"> Is this correct?</p>

    </div>




    </br>

    <div class="Center">


        <% 	if (quiz.sunlight.includes("sunny") && quiz.water.includes("one")  ) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/3">Yes!</a>
        <% } 
            else if (quiz.sunlight.includes("semi_sunny") && quiz.water.includes("one")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/2">Yes!</a>
        <% } 

            else if (quiz.sunlight.includes("shady") && quiz.water.includes("one")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/4">Yes!</a>
        <% } 

            else if (quiz.sunlight.includes("semi_sunny") && quiz.water.includes("one")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/2">Yes!</a>
        <% } 

            else if (quiz.sunlight.includes("sunny") && quiz.water.includes("two")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/6">Yes!</a>
        <% } 

        else if (quiz.sunlight.includes("semi_sunny") && quiz.water.includes("two")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/6">Yes!</a>
        <% } 

         else if (quiz.sunlight.includes("shady") && quiz.water.includes("two")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/4">Yes!</a>
        <% } 

         else if (quiz.sunlight.includes("sunny") && quiz.water.includes("four")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/5">Yes!</a>
        <% } 
            
        else if (quiz.sunlight.includes("semi_shady") && quiz.water.includes("four")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/1">Yes!</a>
        <% } 
         else if (quiz.sunlight.includes("shady") && quiz.water.includes("four")) {  %>
        <a class="NavOptions takeQuizButton" href="/plant/1">Yes!</a>
        <% } %>



        <a class=" NavOptions takeQuizButton" href="/quiz">Maybe not, let me do it again </a>
    </div>

    <div>
        <a class="goBackToMenu " href="/MyPlantBud">Back to Menu </a>

    </div>


    <img class="shiftRight" src="Images/PlantMenu.png" width="500" height="90" />


    <p></p>
    <p></p> </br>
    <p></p> </br>

    <footer class="AboutMe">

        <a href="https://github.com/klosinm">Made by: Monica Klosin </a>
        </br>

        <a href="https://github.com/klosins">Photos and Data Provided by: Sylvia Klosin </a>
        </br>
        </br>
        Last Updated: April 2020

    </footer>


</html>